&wifi {
	status = "okay";
};

/ {
	aliases {
		led0 = &led_on_gpio8;
	};

	leds {
		compatible = "gpio-leds";

		led_on_gpio8: led_0 {
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
			label = "GPIO-8 LED";
		};
	};
};
